* {
    margin: 0;
    padding: 0;
}
::selection {
    background: #a8d1ff;
    color: #000;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #222;
    background: #67727B;
}
.label {
    display: block;
    cursor: pointer;
    padding-bottom: 2px;
}

.wrap {
    position: relative;
    margin: 20px auto;
    padding: 10px 20px;
    width: 600px;
    background: #fff;
}
.wrap:before,
.wrap:after {
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, .7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: absolute;
    left: 10px;
    bottom: 15px;
    z-index: -1;
    width: 50%;
    max-width: 300px;
    height: 20%;
    content: "";
}
.wrap:after {
    left: auto;
    right: 10px;
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
}
.p {
    position: relative;
    display: table;
    margin: 10px 0px;
}

.footnote {
    font-size: 0.6rem;
}

.sub {
    display: inline-block;
    color: #333;
    font-size: 0.9em;
    padding: 5px 0px 0px 15px;
}
.input {
    width: 580px;
}
.textarea {
    width: 580px;
    height: 75px;
}
.select {
    width: 80px;
}
.line {
    margin: 20px 0px;
    border-top: 1px dotted #bbb;
}
.buttons {
    margin: 20px auto;
    text-align: center;
}

.footer {
    text-align: center;
    color: #888;
    margin: 40px 10px 10px;
    
}
.about {
    display: block;
    margin-top: 20px;
}
.button {
    padding: 5px;
}
h1 {
    margin: 0;
    padding: 10px 0px;
    font-weight: 700;
    line-height: 1.2em;
    font-size: 1.5em; /*20px*/
}
input, textarea, select
{
    padding: 5px;
    border: solid 1px #e5e5e5;
    outline: 0;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    background: -webkit-gradient(linear, left top, left 25, from(white), color-stop(0%, #f7f7f7), to(white));
    background: -moz-linear-gradient(top, white, #f7f7f7 0px, white 25px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
input:hover, textarea:hover, input:focus, textarea:focus, select:hover, select:focus
{
    border-color: #c9c9c9;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 8px;
}


kbd{
  padding: 0.1em 0.6em;
  border: 1px solid #CCC;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #F7F7F7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px white inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 white;
  line-height: 1.4;
  white-space: nowrap;
}
